.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  height: 100vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: rgb(183, 183, 183);
  border: 2px solid rgb(0, 0, 0);
}
.formItems {
  border-radius: 5px;
  margin: 10px;
}

.myButton {
  background-color: tomato;
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  padding: 5px;
}
.myButton:hover {
  background-color: white !important;
  color: tomato !important;
}

.formError {
  color: red;
}
