body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    background-color: rgb(59, 58, 58);
    color: white;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.logo {
    font-size: 30px;
    margin-left: 300px;
    color: inherit;
    text-decoration: none;
}